<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Simple Test</name>

    <description>
        Only a simple test.
    </description>

    <author href="http://www.darrenchow.com" email="darren@buildcontent.com">
        Darren Chow
    </author>

	<icon src="icon.png" />
	<gap:splash src="splash.png" />

</widget>